<section class="contacts-section">
  <div class="container contacts-section__container">
    <div class="contacts-section__inner">
      <h2 class="contacts-section__title">Contact us</h2>
      <form action="#" class="contacts-section__form">
        <input type="text" name="name" class="u-input u-input--theme-gray u-input--size-md contacts-section__form-input" placeholder="Name">
        <input type="text" name="phone" class="js-phone-mask u-input u-input--theme-gray u-input--size-md contacts-section__form-input" required placeholder="Phone">
        <input type="email" name="email" class="u-input u-input--theme-gray u-input--size-md contacts-section__form-input" placeholder="E-mail">
        <textarea name="message" class="u-input u-input--theme-gray u-input--size-md u-input--type-textarea contacts-section__form-textarea js-textarea-autoresizing" cols="" rows="1" placeholder="Here you can briefly write about the project"></textarea>
        <div class="contacts-section__form-footer">
          <button type="submit" class="btn btn--theme-accent-fill btn--size-md contacts-section__form-btn">
            <span class="btn__inner">
              <span class="btn__title">Send message</span>
              <svg class="u-icon btn__icon btn__icon--dir-rtl">
                <use xlink:href="assets/images/icons/icons.svg#arrow-type-4"></use>
              </svg>
            </span>
          </button>
          <div class="content contacts-section__form-privacy">
            <p>By clicking on the button you agree to the <a href="privacy.html" target="_blank">privacy policy</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>